{% extends 'base/index.html' %}
{% block content %}

<div id="" class="">
    <div class="tab-content-flow">
      <div class="title-bar">
        <div class="tab-title">System Setup</div>
        <img class="arrow" src="/images/arrow.png" alt="" />
        <div class="sub-tab">Setup Hostname</div>
      </div>

      <div class="form-container">
        <div class="form-content">
          <div class="font-12">Setup Hostname</div>
          <div class="bar-line"></div>
          <div class="font-12">Hostname</div>
          <form method="POST" >
            {% csrf_token %}
          <div>
            {{form.setup_hostname}}  
        </div>
        <div class="action-button">
            <div class="border-button" onclick="window.location.reload()">Reset</div>
            <button class="bg-button" type="submit">Save</button>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}